@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 120px);
    overflow: hidden;
}

.container1 .content{
    position: relative;
    top: 210px;
    left: 248px;
}

.shape2{
    background-image: none;
}

.container1 .h1{
    font-weight: 600;
    font-size: 46px;
    line-height: 0px;
    position: relative;
}

.container1 label{
    display: block;
    font-size: 96px;
    font-weight: bold;
    color: #EC4646;
}

.container1 img {
    position: absolute;
    bottom: -40px;
    right: -38px;
}

.about{
    min-height: 100vh;
    display: grid;
    padding: 0 20px;
}

.about .content{
    position: relative;
    left: 248px;
    width: 948px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 56px;
    place-content: center;
}

.about .content .person {
    position: relative;
    width: fit-content;
}

.about .content .person::before{
    position: absolute;
    content: '';
    width: 178px;
    height: 245px;
    background-color: #EC4646;
    left: -13px;
    top: -13px;
    border-radius: 24px 0 0 0;
}

.about .content .person::after {
    position: absolute;
    content: '';
    width: 78px;
    height: 79px;
    background-color: #63DDEA;
    bottom: -10px;
    right: -10px;
    border-radius: 0 0 24px 0;
}

.about .person img{
    position: relative;
    z-index: 1;
    width: 100%;
}

.about .content .text {
    width: 554px;
    display: grid;
    gap: 40px;
}

.about .content .desc{
    position: relative;
    font-size: 28px;
    color: black;
    font-weight: 500;
    line-height: 42px;
}

.about .content .name{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.about .content .name::first-line {
    color: #EC4646;
}

.about .content .quote{
    position: absolute;
    top: 46px;
    right: -110px;
}

@media screen and (max-width:600px) {

    .container1{
        min-height: auto;
        padding: 16px;
    }

    .container1 .content{
        left: 0;
        top: 0;
    }

    .container1 .h1{
        line-height: normal;
        font-size: 42px;
    }

    .container1 label{
        font-size: 54px;
        margin-bottom: 32px;
    }

    .container1 img{
        position: static;
        width: 100%;
    }

    .about .content{
        width: fit-content;
        left: 0;
        grid-template-columns: auto;
        padding: 32px 0;
    }

    .about .content .text{
        width: auto;
    }

    .about .content .desc {
        font-size: 20px;
    }

    .about .content .quote{
        right: -16px;
    }
}

@media screen and (min-width:601px) and (max-width:993px) {
    .container1 .content{
        left: 150px;
        top: 70px;
    }

    .container1 .h1{
        line-height: 1;
    }
    
    .about .content {
        width: 100%;
        left: 0;
        grid-template-columns: auto;
        padding: 32px 0;
    }
}