:root {
    --max-width: 920px;
}

.custom_img {
    max-width: 80vw;
    width: 80%;
}

.container {
    display: grid;
    place-items: center;
    min-height: 48vh;
}

.container .h1 {
    font-size: 5vw;
    font-weight: bold;
}

.shape2 {
    background-image: none;
}

.feature {
    padding-top: 70px;
}

.feature .intro {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 140px;
}

.feature .label {
    color: #4141A5;
    line-height: 24px;
    font-weight: 600;
    grid-column: 1/3;
}

.feature .intro .heading {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #292929;
}

.feature .intro .text {
    color: #5c6272;
    line-height: 28px;
}

.card-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 540px);
    gap: 35px;
    padding: 76px 0 140px 140px;
}

.card-container .card {
    border-radius: 12px;
    overflow: hidden;
    transition: 0.75s ease;
    height: 288px;
}

.card-container .active{
    height: auto;
    grid-row: 1/3;
    /* box-shadow: 0px 60px 140px -16px rgba(37, 45, 61, 0.06); */
    box-shadow: 0 0px 32px 1px rgba(0, 0, 0, 0.08);

}

.card-container .slider-btn{
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 16px;
}

.card-container .slider-btn .btn{
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.card-container .slider-btn .btn:hover {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.16);
}

.card-container .card img {
    border-radius: 12px;
    width: 100%;
    height: 290px;
}

.card-container .card .content {
    padding: 73px 40px 44px;
    position: relative;
}

.hide{
    display: none;
}

.card .content .icon {
    position: absolute;
    top: 0;
    left: 40px;
    transform: translateY(-50%);
    width: 88px;
    height: 88px;
    background: #fff;
    /* box-shadow: 0px 50px 60px -10px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 0px 16px 1px rgba(0, 0, 0, 0.08);
    display: grid;
    place-items: center;
    color: #000;
    border-radius: 50%;
}

.card .content .heading {
    font-size: 30px;
    line-height: 45px;
    color: #292929;
    font-weight: 600;
}

.card .content .text {
    font-size: 17px;
    line-height: 28px;
}

.gallery {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 100px;
}

.gallery .header {
    font-weight: bold;
    font-size: 28px;
}

.gallery .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 16px 0 32px 0;
    gap: 16px;
    cursor: pointer;
}

.gallery .images .card {
    padding: 12px;
    padding-bottom: 32px;
    background-color: var(--white);
    border: 1px solid #fafafa;
    border-radius: 8px;
    display: grid;
    grid-gap: 16px;
}

.gallery .images .card:hover {
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
}

.gallery .images img {
    width: 100%;
}

.gallery .card .name {
    font-weight: bold;
}

.gallery .card .desc {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.section3{
    background-color: #f5fafe;
    padding: 160px 150px;
    display: grid;
    gap: 60px;
}

.section3 .row{
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    place-items: center;
}

.section3 .row .col{
    display: grid;
    gap: 20px;
    place-content: center;
    position: relative;
    padding: 10px 0;
}

.section3 .row:nth-child(odd) .col:nth-child(even)::before,
.section3 .row:nth-child(even) .col:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}

.section3 .col .heading{
    width: 70%;
    color: #000339;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}

.section3 .col .author{
    display: grid;
    gap: 16px;
    grid-template-columns: max-content max-content;
    place-items: center;
    line-height: 24px;
}

.section3 .author img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #5c6272;
}

.section3 .author .name {
    color: #ec4646;
    font-weight: 600;
}

.section3 .author .addr {
    color: #a3a3a3;
}

@media screen and (max-width:600px) {

    :root{
        --max-width: 100%;
    }

    .container{
        min-height: 25vh;
    }

    .container .h1{
        font-size: 32px;
        line-height: 44px;
    }

    .feature .intro{
        grid-template-columns: 1fr;
        padding: 16px;
        margin-left: 0px;
        gap: 12px;
    }

    .feature .intro .label{
        grid-column: 1;
    }

    .feature .intro .text {
        font-size: 12px;
        line-height: 20px;
    }

    .card-container{
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .card-container .card:not(.active){
        display: none;
    }

    .card-container .card .content{
        padding: 73px 27px 32px;
    }

    .card-container .card .content {
        padding: 73px 27px 32px;
    }

    .card .content .heading{
        font-size: 18px;
        line-height: 27px;
    }

    .card .content .text{
        font-size: 12px;
        line-height: 20px;
    }

    .card-container .slider-btn{
        grid-column: 1;
    }

    .gallery{
        padding: 16px;
    }

    .gallery .images{
        grid-template-columns: 1fr;
    }

    .section3{
        padding: 16px;
    }

    .section3 .row{
        grid-auto-flow: row;
    }

    .section3 .row .col{
        width: 100%;
    }

    .section3 .col .heading{
        font-size: 24px;
        line-height: 32px;
        width: 90%;
    }

    .section3 .col .text {
        font-size: 12px;
        line-height: 20px;
    }

    .section3 .row:nth-child(even) .col:nth-child(even){
        grid-row: 1;
    }
}

@media screen and (min-width:601px) and (max-width:993px) {
    .container{
        min-height: 36vh;
    }

    .container .h1{
        font-size: 64px;
    }

    .feature .intro{
        margin-left: 16px;
    }

    .card-container{
        padding: 76px 0 0 32px;
        grid-template-columns: repeat(3, 480px);
    }
    
    .card-container .slider-btn{
        grid-column: 1;
    }

    .gallery{
        padding: 48px 16px;
    }

    .gallery .images{
        grid-template-columns: 1fr 1fr;
    }

    .section3{
        padding: 48px 80px;
    }

    .section3 .row {
        grid-auto-flow: row;
    }

    .section3 .row .col {
        width: 100%;
    }

    .section3 .col .heading {
        font-size: 24px;
        line-height: 32px;
        width: 90%;
    }

    .section3 .col .text {
        font-size: 12px;
        line-height: 20px;
    }

    .section3 .row:nth-child(even) .col:nth-child(even) {
        grid-row: 1;
    }
}
